html, body {
  background-color: #eee;
  height: 100%;
}

@import "global";

.login-body {
  background-color: #eee;
  height: 100%;
  min-height: 340px;
  
  .row {
    background-color: #eee;
    display: table;
    height: 100%;
    padding-top: 71px;
    width: 100%;

    .login-box {
      display: table-cell;
      float: none;
      vertical-align: middle;

      select[multiple] {
        height: 200px;
      }
    }
  }
}

.tab-pane {
  .form-group:first-of-type {
    margin-top: 15px;
  }
}
