@import "global";

.personal-info {
  margin-top: 40px;

  .thumbnail {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.form-survey {
  padding: 10px;

  .control-container {
    padding: 0 10px;
    
    .form-inline-selfinline {
      display: inline-block;
      margin-left: 10px;
    }

    table {
      .radio-inline, .checkbox-inline {
        vertical-align: top;
      }
    }
  }

  .pull-right {
    margin-right: 20px;
  }
}

.thinner {
  font-weight: 100;
}

.media a.thumbnail>img {
  width: 128px;
  height: 128px;
}

.modal .list-group {
  margin-bottom: 0;
}

.footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
  
  a {
    color: #555;
  }

  h3 {    
    a {
      vertical-align: bottom;

      &:hover {
        color: #777;
        text-decoration: none;
      }

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  p {
    color: #777;
  }

  .about {
    h4 {
      color: #563d7c;
      font-size: 16px;
    }
    
    a {
      font-size: 14px;
    }
  }

  .list-inline {
    li {
      padding: 0;
    }

    li+li:before {
      color: #ccc;
      content: "|";
      padding: 0 10px;
    }
  }
}


